.map-wrapper {
    position: relative;
    width: 100%;

    .map-image {
        display: block;
        width: 100%;
    }

    .marker-wrapper {
        position: absolute;

        .marker {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            background: $alert_color;
            border: 1px solid $alert_color;
        }

        .marker-item {
            @extend %ease;
            @include flex(row, center, center);
            padding: 20px;
            background: $accent_color_2;
            min-width: 275px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            z-index: 10;

            .marker-item-image {
                width: 33%;
            }

            .marker-item-body {
                @include flex(col, center, center);
                width: 66%;
                padding: 0 20px;
                text-align: center;

                .marker-item-cta  {
                    @extend %btn-primary;
                    font-size: 10px !important;
                    padding: 5px !important;
                }
            }
        }

        &:hover {
            .marker-item {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}