.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	background-color: #F6F6F6;
	border: 2px solid #F6F6F6;
	color: black;
}

.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover {
	background-color: white;
	color: black;
}

#shop-page .container-lrg{
    max-width: 1150px;
}

.shop-featured {
	padding: 185px 0;
	color: white;
	text-align: center;
	position: relative;
	margin-bottom: 70px;
}

.shop-featured-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	z-index: 1;
}

.shop-featured-body {
	position: relative;
	max-width: 560px;
	width: 85%;
	font-weight: 100;
	z-index: 2;
}

.shop-featured-title {
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.shop-featured-text {
	font-size: 18px;
}

.shop-products-more {

}

.shop-products-more .alm-reveal {
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	-webkit-align-items: flex-start;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.smash-product {
	width: 30.75%;
	text-align: center;
	margin-bottom: 70px;
	position: relative;
	align-self: stretch;
}

.smash-product .woocommerce-loop-product__title {
	font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
    font-weight: 500;
}

.smash-product img {
	width: 100%;
}

.product-price {
    font-family: 'didot';
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
}

.smash-product .product > a {
	display: block !important;
	width: 100%;
	max-width: 150px;
	margin: 0 auto;
	font-size: 14px;
	text-transform: lowercase;
}

.shop-btn {
	display: inline-block;
	padding: 6px 20px;
	background: #f6f6f6;
	border: 2px solid #f6f6f6;
	text-transform: lowercase;
	text-align: center;
	font-size: 13px;
	letter-spacing: 1px;
	color: black;
}

.shop-btn:hover, .shop-btn:hover:visited {
	background: white;
	color: black;
}

.shop-btn.grouped {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 45%;
  max-width: 150px;
}

.alm-btn-wrap .alm-load-more-btn:active{
	box-shadow: none !important;
}

#shop-page  .alm-btn-wrap{
	margin: 30px 0px 20px;
}

@media only screen and (max-width: 768px){
	.smash-product {
		width: 48%;
	}	
}


.woocommerce div.product div.summary {
	margin-top: 0;
}

.woocommerce div.product div.images img.product-thumb {
	display: block;
	width: 32%;
	margin-top: 10px;
	margin-bottom: 6em !important;
}

.single.single-product .entry-title {
    font-size: 18px;
    line-height: 24px;
    background: unset;
    font-family: 'proxima-nova';
    margin-bottom: 10px;
    font-weight: 500;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
	font-family: 'didot';
    font-size: 14px !important;
    font-style: italic;
    margin-bottom: 20px;
}

.woocommerce div.product form.cart .variations{
	margin-bottom: 35px !important;
    border: 0;
    width: 100%;
    margin-top: 30px;
}

.woocommerce div.product form.cart .variations select{
	max-width: 100%;
    min-width: 75%;
    display: inline-block;
    margin-right: 7em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 7px !important;
}

.product_meta {
    font-size: 13px;
    letter-spacing: 1px;
}

span.posted_in a {
    color: #c8c8c8;
}

.sku_wrapper {
	display: none;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	text-align: center;
}

.woocommerce ul.products li.product .button{
	font-weight: 500 !important;
    font-size: 13px;
}

.woocommerce-tabs {
	display: none;
}

.woocommerce-cart .entry-header {
	display: none;
}

.woocommerce table.cart td.actions .coupon, 
.woocommerce-page #content table.cart td.actions .coupon, 
.woocommerce-page table.cart td.actions .coupon {
	width: 32%;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.woocommerce table.cart td.actions .input-text, 
.woocommerce-page #content table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
	width: auto;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 768px){
	.shop-featured {
		padding: 50px 0;
	}
	.woocommerce table.cart td.actions .coupon, 
	.woocommerce-page #content table.cart td.actions .coupon, 
	.woocommerce-page table.cart td.actions .coupon {
		width: 100%;
		font-size: 12px;
	}	
	.woocommerce table.cart td.actions .input-text, 
	.woocommerce-page #content table.cart td.actions .input-text, 
	.woocommerce-page table.cart td.actions .input-text {
		font-size: 12px;	
	}
}